body {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  font-size: 50px;
  font-weight: bold;
}
 a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

.new-cocktail {
  font-size: 30px;
  text-align: center;
  display: block;


}
